In [ ]:
import pandas as pd
csv_path = "../data/chicago_2020"
df = pd.read_csv(csv_path)
df.head()

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,TEMP,TEMP_ATTRIBUTES,DEWP,DEWP_ATTRIBUTES,...,MXSPD,GUST,MAX,MAX_ATTRIBUTES,MIN,MIN_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,SNDP,FRSHTT
0,99849999999,2020-01-01,41.856,-87.609,190.0,"NORTHERLY ISLAND, IL US",30.5,24,22.8,24,...,17.1,999.9,41.4,*,24.4,*,0.0,I,999.9,0
1,99849999999,2020-01-02,41.856,-87.609,190.0,"NORTHERLY ISLAND, IL US",42.5,24,29.8,24,...,20.0,999.9,48.6,*,24.1,,0.0,I,999.9,0
2,99849999999,2020-01-03,41.856,-87.609,190.0,"NORTHERLY ISLAND, IL US",40.0,24,33.5,24,...,8.9,999.9,48.9,,34.0,*,0.0,I,999.9,0
3,99849999999,2020-01-04,41.856,-87.609,190.0,"NORTHERLY ISLAND, IL US",33.1,24,25.7,24,...,14.0,999.9,44.1,,31.6,*,0.0,I,999.9,0
4,99849999999,2020-01-05,41.856,-87.609,190.0,"NORTHERLY ISLAND, IL US",31.9,24,23.6,24,...,18.1,999.9,42.3,*,25.5,*,0.0,I,999.9,0

In [7]:
station_to_city = {
     "72055399999": "new_york",
     "72202012839": "miami",
     99849999999: "chicago",
     "72278023183": "phoenix",
     "72793524234": "seattle",
     "72565003017": "denver",
     "72288593197": "los_angeles",
     "72059400188": "houston",
     "72658014922": "minneapolis",
     "72484653123": "las_vegas"
}
df['city'] = df['STATION'].map(station_to_city)
df.head()

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,TEMP,TEMP_ATTRIBUTES,DEWP,DEWP_ATTRIBUTES,...,GUST,MAX,MAX_ATTRIBUTES,MIN,MIN_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,SNDP,FRSHTT,city
0,99849999999,2020-01-01,41.856,-87.609,190.0,"NORTHERLY ISLAND, IL US",30.5,24,22.8,24,...,999.9,41.4,*,24.4,*,0.0,I,999.9,0,chicago
1,99849999999,2020-01-02,41.856,-87.609,190.0,"NORTHERLY ISLAND, IL US",42.5,24,29.8,24,...,999.9,48.6,*,24.1,,0.0,I,999.9,0,chicago
2,99849999999,2020-01-03,41.856,-87.609,190.0,"NORTHERLY ISLAND, IL US",40.0,24,33.5,24,...,999.9,48.9,,34.0,*,0.0,I,999.9,0,chicago
3,99849999999,2020-01-04,41.856,-87.609,190.0,"NORTHERLY ISLAND, IL US",33.1,24,25.7,24,...,999.9,44.1,,31.6,*,0.0,I,999.9,0,chicago
4,99849999999,2020-01-05,41.856,-87.609,190.0,"NORTHERLY ISLAND, IL US",31.9,24,23.6,24,...,999.9,42.3,*,25.5,*,0.0,I,999.9,0,chicago